<div id="content">

  <div class="row-fluid">
    <div id="scoreboard" class="span6 offset3">
      <h2>Scoreboard</h2>
      <ol>
        <% @scoreboard.each do |team| %>
          <li>
          <span class="teamname"><%= Rack::Utils.escape_html(team[:name]) %></span>
          <span class="score"><%= team[:score] %></span>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <div class="row-fluid submission">
    <% if @user_submissions %>
      <div class="span6">
        <h2>Your Submissions</h2>
        <ol>
          <% @user_submissions.each do |submission| %>
            <li class="alert
            <% case submission.result; when 1 %>
              alert-success
            <% when 2 %>
              alert-error
            <% when 3 %>
              alert-info
            <% end%>
            ">
            <span class="submission_name"> <%= submission.problem.name %>(<%= 
                   Rack::Utils::escape_html(submission.user.name) %>):
            <%= Rack::Utils.escape_html(submission.filename) %></span>
            <% case submission.result ; when 0 %>
              <span class="score score-pending">
            <% when 1 %>
              <span class="score score-pass">
            <% when 2 %>
              <span class="score score-fail">
            <% when 3 %>
              <span class="score score-pending">
            <% else %>
              <span class="score score-fail">Grader Error:
            <% end %>

            <%= submission.note %></span>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>

    <div class="span6
      <% if !@user_submissions %>
        offset3
      <% end %>
      ">
      <h2>All Submissions</h2>
      <ol>
        <% @submissions.each do |submission| %>
          <li class="alert
            <% case submission.result; when 1 %>
              alert-success
            <% when 2 %>
              alert-error
            <% when 3 %>
              alert-info
            <% end%>
            ">
          <span class="submission_name">
            <% if submission.user.team %>
              <%= Rack::Utils.escape_html(submission.user.team.name) %>:
            <% else %>
              <%= Rack::Utils.escape_html(submission.user.name) %>:
            <% end %>
            <%= submission.problem.name %></span>
          <% case submission.result ; when 0 %>
            <span class="score score-pending">Pending</span>
          <% when 1 %>
            <span class="score score-pass">Pass</span>
          <% when 2 %>
            <span class="score score-fail">Fail</span>
          <% when 3 %>
            <span class="score score-pending">Skipped</span>
          <% else %>
            <span class="score score-fail">Grader Error</span>
          <% end %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
