<div id="title"><h1>Crash and Compile Grader</h1></div>

<div id="content">
  <div id="scoreboard">
    <h2>Scoreboard</h2>
    <ol>
      <% @scoreboard.each do |team| %>
        <li>
        <span class="teamname"><%= team[:name] %></span>
        <span class="score"><%= team[:score] %></span>
        </li>
      <% end %>
    </ol>
  </div>
  <div id="submissions">
    <% if @user_submissions %>
      <h2>Your Submissions</h2>
      <ol>
        <% @user_submissions.each do |submission| %>
          <li>
          <span class="submission_name"><%= submission.problem.name %>:
            <%= submission.filename %></span>
          <% case submission.result ; when 0 %>
            <span class="score-pending">Pending</span>
          <% when 1 %>
            <span class="score-pass">Pass</span>
          <% when 2 %>
            <span class="score-fail">Fail</span>
          <% when 3 %>
            <span class="score-pending">Skipped</span>
          <% else %>
            <span class="score-fail">Grader Error</span>
          <% end %>
          </li>
        <% end %>
      </ol>
    <% end %>
    <h2>All Submissions</h2>
    <ol>
      <% @submissions.each do |submission| %>
        <li>
        <span class="submission_name">
          <% if submission.user.team %>
            <%= submission.user.team.name %>:
          <% else %>
            <%= submission.user.name %>:
          <% end %>
          <%= submission.problem.name %></span>
        <% case submission.result ; when 0 %>
          <span class="score-pending">Pending</span>
        <% when 1 %>
          <span class="score-pass">Pass</span>
        <% when 2 %>
          <span class="score-fail">Fail</span>
        <% when 3 %>
          <span class="score-pending">Skipped</span>
        <% else %>
          <span class="score-fail">Grader Error</span>
        <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</div>
