<h1>Crash and Compile Grader</h1>
<h2>Sign Up</h2>

<% if @error %>
  <h3 class="error"><%= @error %></h3>
<% end %>

<form method="post" action="/signup" enctype="multipart/form-data">

<% form_for @user do |f| %>

  <%= f.input :name, :label => "Username" %>
  <%= f.input :email, :label => "Email" %>
  <%= f.input :password, :type => :password, :label => "Password" %>
  <%= f.input :password_confirm, :type => :password,
    :label => "Password (confirm)" %>
  <%= f.submit :label => "Sign Up" %>

<% end %>

</form>
